* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    background-color: #993636;
    width: 100%;
    height: 105px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 42px;
}
li {
    padding: 26px;
    list-style: none;
    height: 100%;
}
a {
    transition: text-shadow,font-size 0.4s;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'pacificoregular';

}
a.accueil {
    font-size: 30px;
}
.logo {
    width: 600px;
    height: 100px;
    padding-right: 50px;
    box-shadow: 1px 1px 5px black;
}
/*RECUPERATION DU FONT PACIFICO*/
@font-face {
    font-family: 'pacificoregular';
    src: url('font/pacifico-regular-webfont.woff2') format('woff2'),
         url('font/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a:hover {
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
}
a.accueil:hover {
    font-size: 40px;
}
.conteneur {
    margin: auto;
    background-color: lightgrey;
    text-align: center;
    width: 80%;
    margin-top: 100px;
    height: fit-content;
    border-radius: 25px;
    border: 5px solid;
    /* animation: 3s blur; */

}
h3.nom{
    padding: 50px;
    font-family: 'pacificoregular';
    font-size: 50px;
    text-shadow: 5px 5px #DC143C
}
body {
    margin: auto;
    background-color: rgb(153, 54, 54);
}
@keyframes blur {
    from{
        transform: rotate3d(1, 1, 1, 0deg);
    }
    to{
        transform: rotate3d(1, 1, 1, 360deg);
    }
}
p.text {
    width: 80%;
    margin: auto;
    margin-top: 33px;
    font-size: 26px;
    font-family: 'Seymour One', sans-serif;
    font-size: 40px;
}
