* {
    padding: 0;
    margin: 0;
}
body {
    margin: auto;
    background-color: rgb(153, 54, 54);
}

nav {
    display: flex;
    background-color: #993636;
    width: 100%;
    height: 105px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 42px;
}
li {
    padding: 26px;
    list-style: none;
    height: 100%;
}
h3.titre {
    padding-top: 30px;
    padding-left: 20px;
    text-align: center; 
    font-family: 'pacificoregular';
    font-size: 50px;
    text-shadow: 5px 5px #DC143C; 
    text-decoration: none;
    list-style: none;
}
a.bite{
    color: black;
    text-decoration: none;
}
a.css {
    transition: text-shadow,font-size 0.4s;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'pacificoregular';
    
}
a.competence {
    font-size: 30px;
}
a#css {
    transition: text-shadow,font-size 0.4s;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'pacificoregular';
}
.logo {
    width: 600px;
    height: 100px;
    padding-right: 50px;
    box-shadow: 1px 1px 5px black;
}
/*RECUPERATION DU FONT PACIFICO*/
@font-face {
    font-family: 'pacificoregular';
    src: url('font/pacifico-regular-webfont.woff2') format('woff2'),
         url('font/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a:hover {
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
}
a.competence:hover {
    font-size: 40px;
}

a.non  {
    color: black;
    text-decoration: none;
}
a.oui  {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
div.blanc {
    color: white;
}
div.parent {
   margin-left: 25%;
   padding-left: 35px;
    margin-top: 2rem;
    border-left: solid white 2px;
    width: fit-content;
    font-size: 20px;
}
div.corps {
    width: 100%;
    height: 100%;
}